.layout {
  display: flex;
  height: 100vh;
  background-color: #1F2937;
  color: #D1D5DB;
  overflow: hidden;
}

.side-bar {
  width: 20%;
  border-right: 1px solid #D1D5DB; 
  text-align: center;
  font-size: 1.3rem;
  padding-top: 2rem;
}

.side-bar-title {
  margin-bottom: 2rem;
}

.side-link {
  color: white;
}

ul {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

}

.body {
  flex-grow: 1;
}

.header {
  padding:  20px;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.welcome {
  font-size: 1.5rem;
}
.logout-btn {
  padding: 10px 20px;
  color: white;
  background: red;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}
.main {
  height: 100%;
  width: 100%;
}
