* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.success-message {
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 10px;
  padding: 20px;
  background-color: green;
  color: white;
  font-size: 1.3rem;
  border-radius: 8px;
  transition: all;
}

.error {
  color: red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}