* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}