.card {
    margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  color: white;
  background: rgba(0, 0, 255, 0.657);
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #111827;
  color: #E5E7EB;
  border-radius: 8px;
  overflow: hidden;

}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
}

.table thead {
  background: #1F2937;
  font-weight: 600;
}

.table tbody tr {
  border-top: 1px solid #374151;
}

.table tbody tr:hover {
  background: #374151;
}
